.imagePanel{
    margin:20px;
    height: 85vh;
    overflow:hidden;
    overflow-y:auto;
}

.imagePanel::-webkit-scrollbar {
    width: 1px;
}
.containerPagination{
    display: grid;
    grid-template-columns: repeat(6,16%);
    justify-items: center;
    width: 50%;
    cursor: pointer;
    margin: 10px auto;
}

.pageClassName{
    list-style: none;
}
.previousButtons{
    list-style: none;
    cursor: w-resize;
}

.nextButtons{
    list-style: none;
    cursor: e-resize;
}

.imagesList{
    display: grid;
    grid-template-columns: repeat(3,33%);
}

